.item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iPad-air {
  background-image: url("images/ipad.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 58px 0px 53px 0px;
}
.ipad {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iPad-air > p {
  background: linear-gradient(
    90deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.apple-watch {
  background-image: url("./images/apple-watch.jpg");
}
.trade-in {
  background-image: url("./images/trade-in.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
}
.airpods-pro2 {
  background-image: url("./images/airpods-pro.jpg");

  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 58px;
}
.macbookair {
  background-image: url("images/macbook-air.jpg");

  padding: 48px;
}
.card {
  background-image: url("./images/card.jpg");
}
.applewatch {
  display: flex;
  gap: 8px;
  justify-content: center;
}
.applewatch p {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.air {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
}
.airpod {
  color: #f5f5f7;
}
.classic {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.black {
  color: #f5f5f7;
}
.gurav {
  width: 167px;
  height: 40px;
}
.apple-tradein {
  width: 322px;
  height: 146px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pad {
  padding: 58px;
}
.series {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.small-business {
  background-image: url("images/faea9510bf75f3061ee55679cd22eea7569fcf6a.png");
  padding: 42px;
}
.apple-deals {
  background-image: url("images/apple-deals.png");
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 42px;
}
@media (max-width: 768px) {
  .third :nth-child(1) {
    display: none;
  }

  nav > a {
    display: none;
  }
  nav {
    justify-content: space-between;
    padding: 16px;
  }
  .apple-watch {
    background-image: url("images/Figure.png");
  }
  .card {
    display: none;
  }
  .airpods4 {
    background-image: url("images/da862da9442f25fda2746d5c8c6f9ec5d93a3101.jpg");
    justify-content: end;
    padding: 0px 74px 42px 75px;
  }
  .airpods-pro2 {
    display: none;
  }
  .tablet {
    display: contents;
  }
  .descriptions {
    display: none;
  }
}
@media (min-width: 430px) and (max-width: 768px) {
  .iPad-air {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .airpods-pro2 {
    display: none;
  }
}
