.section8 {
  background-color: #f5f5f7;
  padding: 0px 0px 60px 140px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.in-1 {
  margin-top: 9px;
}
.tradein {
  background-image: url("images/store-card-50-holiday-trade-in-202411.png");
}

.special {
  width: 400px;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 18px;
  padding: 32px 30px;
}
.saving {
  background-image: url("images/57e6bdca2b0f233f809fe57ada1ba8354e54e4b4.jpg");
}
.saving2 {
  background-image: url("images/c29a91c005069048c5e1b877cf3142fa2fab6067.jpg");
}
.saving3 {
  background-image: url("images/60a49ef1a49579aa398f78daa8ab814a87b543dc.jpg");
}
.saving4 {
  background-image: url("images/a960f7eefe8796ce51144b229909100094a59989.jpg");
}
.saving5 {
  background-image: url("images/9511d82e0fa4f14f3d23b485ab3928f9d27a5012.jpg");
}
.deal {
  margin: 7px 0px 8px 0px;
}
.business {
  color: #86868b;
}
