.fitness1 {
  background-image: url("images/fitness.jpg");
}
@keyframes auto-scroll {
  to {
    left: -100%;
    margin: auto;
  }
}
.footer {
  animation: auto-scroll 15s linear infinite;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 100%;
  min-width: 417px;
  height: 236px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 20px 15px;
}
.footer > p {
  color: #fff;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.224px;
}
.footer > svg {
  margin-bottom: 3px;
}
.fitness2 {
  background-image: url("images/plus.jpg");
  animation-delay: 6s;
}
.basketball {
  background-image: url("images/nba.jpg");
  animation-delay: 4s;
}
.music1 {
  background-color: #1b2632;
  width: 417px;
  height: 236px;
  animation-delay: 2s;
}
.music2 {
  background-color: #ebb799;
  width: 417px;
  height: 236px;
  animation-delay: 8s;
}
div > img {
  border-radius: 8px;
}
.seventh {
  display: flex;
  gap: 16px;
  overflow-x: scroll;
  position: relative;
  height: 236px;
}
.rnb {
  margin-bottom: 89px;
}
