* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: rgb(245, 245, 247, 0.8);
  position: fixed;
  z-index: 99;
  width: 100%;
}
nav a {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.28px;
  text-decoration: none;
}
nav div {
  display: flex;
  gap: 24px;
}
nav {
  width: 100%;
  height: 44px;
}
header {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding-top: 60px;
  /* margin-top: 44px; */
}
header p {
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #1d1d1f;
}
.pay {
  margin: 4px;
}
/* .icon {
  margin-top: 25px;
}
.menu-icon {
  margin-top: 9px;
} */
@media (max-width: 2100px) {
  .tablet {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 2100px) {
  .menu {
    display: none;
  }
  .la-music3 {
    display: none;
  }
  .fourth {
    padding: 12px 12px 0px 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }

  .first {
    background-image: url("images/ec3175b4a85620366114b7dc1d62789aa36c0536\ \(1\).jpg");
    width: 100%;
    background-position: center;
    height: 692px;
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    align-items: center;
  }
  .text {
    font-size: 24px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #f5f5f7;
    margin-top: 16px;
  }
  .iPhone {
    font-size: 52px;
    font-weight: 600;
    text-align: center;
    font-family: "Inter", sans-serif;
    color: #f5f5f7;
  }
  .buttons-container {
    margin-top: 20px;
    display: flex;
    gap: 16px;
  }
  .second {
    background-image: url("images/second.jpg");
    background-position: center;
    width: 100%;
    height: 692px;
    display: flex;
    flex-direction: column;
    padding: 55px;
    align-items: center;
    margin-top: 12px;
  }
  .dis {
    background-image: url("images/a71fa31c036fa4ebdb97754279e6264a8511c26a.jpg");
    display: flex;
  }
  .fly {
    background-image: url("images/0ef20c456c1f9e35f8cfc952ddd2340d8debbb86.jpg");
  }
  .shrink {
    background-image: url("images/a96232d2cffc7341eddba9393942d27673a1bb78.jpg");
  }
  .movie {
    min-width: 1250px;
    height: 670px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: end;
    padding: 58px 70px;
    overflow: hidden;
    scroll-snap-align: center;
  }

  .bottom-2 {
    display: none;
  }
  .iPad-air1 {
    display: none;
  }
  .bottom {
    display: flex;
    gap: 16px;
    overflow-x: scroll;
    position: relative;
    height: 236px;
  }
  .item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 430px) and (max-width: 768px) {
  .first {
    background-image: url("images/c1bdbb86222bed356055eaebc4806ccf147dddcb.jpg");
    width: 100%;
    height: 650px;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-top: 58px;
    align-items: center;
    background-position: center;
  }
  .fourth {
    padding: 12px 12px 0px 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }
  .buttons-container {
    margin-top: 16px;
    display: flex;
    gap: 16px;
  }
  .second {
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    padding: 58px;
    align-items: center;
    margin-top: 12px;
    background-position: center;
    background-image: url("images/03056acca3b40d2fac6464cec53adb623252f542.jpg");
  }
  .text {
    font-size: 22px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #f5f5f7;
    margin-top: 16px;
  }
  .iPhone {
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    font-family: "Inter", sans-serif;
    color: #f5f5f7;
  }
  .header {
    padding: 56px 10px 16px 10px;
  }
  .header p {
    width: 444px;
    height: 16px;
    text-align: center;
  }
  .music1 {
    background-color: #6529cf;
  }
  .rnb-music1 {
    display: none;
  }
  .shrink {
    background-image: url("images/f8cc6053a339d895af1d1d416ffb726b4e16e56c.jpg");
  }
  .fly {
    background-image: url("./images/a0a4904b12a737796ecab3d5be6082e69c945227.jpg");
  }
  .charlie {
    background-image: url("images/tablet-sixth.jpg");
  }
  .bad {
    background-image: url("images/tablet-fifth.jpg");
  }
  .foot {
    background-image: url("images/tablet-fourth.jpg");
  }
  .dis {
    background-image: url("images/tablet-seventh.jpg");
  }

  .iPhone {
    font-size: 42px;
  }
  .text {
    font-size: 22px;
  }
  .movie {
    min-width: 689px;
    height: 368px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: end;
    padding: 27px 30px;
    overflow: hidden;
    scroll-snap-align: center;
  }
  .item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 430px) {
  header {
    padding: 71px 31px 31px 31px;
  }
  header p {
    height: 37px;
    width: 328px;
    text-align: center;
  }
  .fourth {
    /* height: 500px; */
    grid-template-columns: 100vw;
    padding: 0px;
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 12px;
    margin-top: 12px;
  }
  .item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .first {
    background-image: url("./images/4d617ff6192318499aff8aebb56aaf232c8f00d4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    justify-content: end;
    align-items: center;
    padding-bottom: 36px;
  }
  .movie {
    min-width: 274px;
    height: 495px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: end;
    padding: 27px 30px;
    overflow: hidden;
    scroll-snap-align: center;
  }
  .dis {
    background-image: url("images/phoneversion-first.jpg");
  }
  .fly {
    background-image: url("images/phoneversion-second.jpg");
  }
  .shrink {
    background-image: url("images/phoneversion-third.jpg");
  }
  .charlie {
    background-image: url("images/phoneversion-seventh.jpg");
  }
  .bad {
    background-image: url("images/phoneversion-fourth.jpg");
  }
  .foot {
    background-image: url("images/phoneversion-fifth.jpg");
  }
  .last {
    background-image: url("images/phoneversion-sixth.jpg");
  }
  .movie button {
    display: none;
  }
  .movie p {
    display: none;
  }
  .text {
    font-size: 18px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #f5f5f7;
    margin-top: 4px;
  }
  .iPhone {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    font-family: "Inter", sans-serif;
    color: #f5f5f7;
  }
  .buttons-container {
    margin-top: 16px;
    display: flex;
    gap: 16px;
  }
  .fourth {
    padding: 0px;
  }
  .second {
    background-image: url("images/bca14fea5cc383f10eb575ae23034d12bd94613d.jpg");
    background-position: center;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 30px 0px 35px 0px;

    align-items: center;
    margin-top: 12px;
  }
  .movie {
    min-width: 274px;
    height: 495px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: end;
    padding: 58px 70px;
    overflow: hidden;
    scroll-snap-align: center;
  }
  .iPad-air1 {
    background-image: url("images/ipad.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 36px 0px;
    margin-top: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .iPad-air1 > p {
    background: linear-gradient(
      90deg,
      #0090f7 0%,
      #ba62fc 33.33%,
      #f2416b 66.67%,
      #f55600 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .ipad {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ipad img {
    margin-bottom: 8px;
  }
  .phone_version {
    display: block;
    text-align: center;
  }
  .tablet-version {
    height: 134px;
  }
}
